<!DOCTYPE html>
<html lang="en">
<head>
  <title>신규 회원 정보</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>개인 정보를 입력해 주세요</h2>
  <form method="post" action=""> {% csrf_token %}
      <div class="form-group">
      <label for="name">이름 :</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
    </div>
     <div class="form-group">
      <label for="age">나이 :</label>
        <input type="number" min=0 max=120 class="form-control" id="age" placeholder="Enter your age" name="age">
    </div>
      <label for="main_content">주 사용처 (select one) :</label>
      <select class="form-control" id="main_content" name="main_content">
        <option>통화</option>
        <option>영상시청</option>
        <option>커뮤니티</option>
        <option>게임</option>
        <option>웹서핑</option>
        <option>작업</option>
      </select>
      <br>
    <div class="form-group">
      <label for="data_usage">데이터 사용량(GB) :</label>
        <input type="number" step =0.01 min = 0 max=999999 class="form-control" id="data_usage" placeholder="Enter Usage" name="data_usage">
    </div>
      <div class="form-group">
      <label for="data_usage">통화 사용량(분) :</label>
        <input type="number" min = 0 max=999999 class="form-control" id="Call_usage" placeholder="Enter Usage" name="Call_usage">
    </div>
        <div class="form-group">
      <label for="data_usage">메시지 사용량(통) :</label>
        <input type="number" min = 0 max=999999 class="form-control" id="Message_usage" placeholder="Enter Usage" name="Message_usage">
    </div>
   <div class="form-group">
      <label for="Agency_name">가족 통신사 (select one):</label>
           <select class="form-control" id="Agency_name" name="Agency_name">
           <option>적용안함</option>
            <option>SKT</option>
            <option>KT</option>
            <option>LGU+</option>

      </select>
    </div>
        <label>무제한 여부</label>
        <br>
            <label class="radio-inline">
                <input type="radio" name="Check_INF" value="yes" checked> 예
            </label>
            <label class="radio-inline">
                <input type="radio" name="Check_INF" value="no"> 아니오
            </label>
      <br>
      <br>
      <label>알뜰폰 여부</label>
        <br>
            <label class="radio-inline">
                <input type="radio" name="Check_cheap" value="yes" checked> 예
            </label>
            <label class="radio-inline">
                <input type="radio" name="Check_cheap" value="no"> 아니오
            </label>
      <br>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
