
body {
  margin:0;
}

.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* 글자와 체크박스 사이의 간격을 변경 */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  list-style-type: none;
}

.nav-item{
  padding: 15px;
  cursor: pointer;
}
.nav-item a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-item:nth-child(1){
  background-color: lightseagreen;
}

.nav-item:hover{
  background-color: grey;
}

.nav-container{
  position:fixed;
  top:0
}

header{
  margin-top: 80px;
}